## Working with Select in Selenium

In [46]:
import selenium
from selenium import webdriver as wb 
from selenium.webdriver.support.ui import Select 
# select used for selecting drop down option inspect HTML CODE

In [47]:
webD=wb.Chrome('C:\Program Files (x86)\chromedriver.exe')

In [48]:
#webD.get('http://localhost:8000/')

webD.get('file:///E:/SOIS-Manipal/PDV/selenium/Data-Science-with-python/selenium/startpage.html')

In [13]:
# someForm=webD.find_element_by_class_name('form1')

In [14]:
# someForm.text

In [49]:
webD.find_elements_by_name('dropDown')

[<selenium.webdriver.remote.webelement.WebElement (session="929e619f4009b024e6b819a2cb149edb", element="a87873d8-9295-48fd-833d-49da8b78335c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="929e619f4009b024e6b819a2cb149edb", element="9d1db8fc-3fd5-4559-b923-ed37f279d183")>]

In [50]:
select = Select(webD.find_element_by_name('dropDown'))

In [51]:
for i in select.options:
    print(i.text)

Option1
Option2
Option3
Option4

In [52]:
selectN=Select(webD.find_elements_by_name('dropDown')[1])

In [53]:
selectN.select_by_value('Option3')

In [13]:
select.select_by_value('Option4')

In [45]:
for i in select.options:
    print(i.text)

Option1
Option2
Option3
Option4

## Extracting complete table from an HTML

In [ ]:
# webD=wb.Chrome('chromedriver.exe')

In [ ]:
# webD.find_element_by_xpath('//*[@id="main"]/div[3]/div')

In [57]:
import pandas as pd

In [58]:
pd.read_html('file:///E:/SOIS-Manipal/PDV/selenium/Data-Science-with-python/selenium/startpage.html')

[        Month Savings
 0     January    $100
 1    February    $110
 2       March    $120
 3       April    $130
 4         May    $140
 5        June    $130
 6        July    $150
 7      August    $120
 8   September    $160
 9     October    $130
 10   November    $230]

In [59]:
pd.read_html('file:///E:/SOIS-Manipal/PDV/selenium/Data-Science-with-python/selenium/startpage.html')[0]

        Month Savings
0     January    $100
1    February    $110
2       March    $120
3       April    $130
4         May    $140
5        June    $130
6        July    $150
7      August    $120
8   September    $160
9     October    $130
10   November    $230

Some Website have iFrames for table in such case, 
1. get the iFrame, then this iframe will be HTML Page.
2. use .t function call to get the text.
3. Then pass it to read_html to get the table from the web site.

## Scrolling in Selenium

In [61]:
webD.execute_script("window.scrollTo(0, 200)")  #using javascript way

In [62]:
webD.execute_script("window.scrollTo(0, 800)")

Here 0, 400 and 800 are pixel positions

In [63]:
webD.execute_script("window.scrollTo(0, document.body.scrollHeight)")

## What about infinte scrolling

while loop :

webD.execute_script("window.scrollTo(500, 800)")